.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    row-gap: 8px;
}

.item{
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border: 1px solid #444;
}