.container {
    background-color: #121214;
    padding: 40px 0 120px;
}

.content {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto; 
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.newTransaction {
    height: 50px;
    border: none;
    background-color: #00875f;
    color: #fff;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.newTransaction:hover{
    background-color: #015f43;
    transition: background-color 0.3s;
}