.button{
    background-color: transparent;
    color: #00875f;
    border: 1px solid #00875f;
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}

.button:not(:disabled):hover{
    color: #fff;
    background-color: #00875f;
    cursor: pointer;
}
.button:disabled{
    background-color: #c4c4c4;
    cursor: not-allowed;
    color: #fff;
    opacity: 0.7;
}


